{% extends 'AcmeProductBundle::layout.html.twig' %}

{% block head %}
    {{ parent() }}
    
    <script src="{{ asset('bundles/acmebasket/js/basket.js') }}"></script>
    <script src="{{ asset('bundles/acmeproduct/js/product.js') }}"></script>
{% endblock %}

{% block content %}

    <h2>Lista produktów</h2>
    
    <div id="product-mode">
        Wszyskich produktów: <span id="products-count">{{ pagination.getTotalItemCount }}</span>
         {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('acme_product_add') }}">Dodaj produkt</a>
        {% endif %}
        <div class="fright">Opcje sortowania: 
            <span>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</span>
            <span{% if pagination.isSorted('p.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</span>
        </div>
    </div>
    
    {% for product in pagination %}
        {% include 'AcmeProductBundle:Index:list_row.html.twig' %}
    {% endfor %}
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
{% endblock %}