{% extends 'AcmeHomePageBundle::layout.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/acmeproduct/css/product.css') }}" />
    <script src="{{ asset('bundles/acmebasket/js/basket.js') }}"></script>
{% endblock %}

{% block content %}

    <h2>Lista produktów w koszyku</h2>
    
    <div id="product-mode">
        Wszyskich produktów: {{ pagination.getTotalItemCount }}
        <div class="fright">Opcje sortowania: 
            <span>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</span>
            <span{% if pagination.isSorted('p.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</span>
        </div>
    </div>
    
    {% for product in pagination %}
        {% include 'AcmeProductBundle:Index:list_row.html.twig' %}
    {% endfor %}
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
{% endblock %}